@import "../../_variables";

.header--container {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  background: linear-gradient(-40deg, #9846d6, #815ce5, #5a51da 65%);

  .brand,
  .links {
    width: 50%;
    display: flex;
    align-items: center;
  }
  .brand {
    justify-content: center;
  }
}
