@import "../../_variables";

.dashboard--container {
    height: 85vh;
    overflow-y: scroll;
    color: $dark-purple;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    margin-bottom:4rem; 
    .form-group {
        margin: auto;
        width: 60%;
        input[type="number"] {
            text-align: right;
            min-width: 4.5rem;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            opacity: 1;
            margin-left: 0.5rem;
        }
        h5 {
            margin: 0 !important;
            margin-right: 0.5rem !important;
        }
        .form-row {
            display: flex;
            align-items: flex-end;
        }
    }

    .occupancy--wrapper {
        padding: 1rem;
        li {
            list-style-type: none;
        }
        span {
            font-size: 18px;
            line-height: 2rem;
        }
        width: 50%;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {

    .dashboard--container {
        .form-group {
            input[type="number"] {
                text-align: center;
                min-width: 4.5rem;
                margin-top: 1.25rem;
            }
            h5 {
                font-size: 16px;
            }
            .form-row {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }
}
