@import "../../_variables";

.footer--container {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5a51da;
  span {
    font-weight: 500;
  }
}