// Override default variables before the import
$body-bg: #d5d8e3;
$primary: #aa70f0;
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  color: #eee !important;
  font-size: 18px !important;
  
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
  overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;500;600;700&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

.bold {
  font-weight: bold;
}

* {
  font-family: 'Work Sans', sans-serif;
}

@media only screen and (min-width: 800px) {
  
}